<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sell.dao.OrderMasterMapper">
    <resultMap id="BaseResultMap" type="com.example.sell.entity.OrderMaster">
        <id column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
        <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone" />
        <result column="buyer_add" jdbcType="VARCHAR" property="buyerAdd" />
        <result column="buyer_openid" jdbcType="VARCHAR" property="buyerOpenId" />
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
        <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
        <result column="pay_status" jdbcType="TINYINT" property="payStatus" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    
    <select id="getOM" resultMap="BaseResultMap" parameterType="java.lang.String">
        select order_id, buyer_name, buyer_phone, buyer_add, buyer_openid, order_amount, order_status, pay_status, create_time
        from order_master
        where order_id = #{ orderId, jdbcType=VARCHAR}
    </select>

    <insert id="insertOrderInfo" parameterType="com.example.sell.entity.OrderMaster">
        insert into order_master (order_id, buyer_name, buyer_phone, buyer_add, buyer_openid, order_amount, order_status, pay_status, create_time)
        values (#{orderId},#{buyerName},#{buyerPhone},#{buyerAdd},#{buyerOpenId},#{orderAmount},#{orderStatus},#{payStatus},#{createTime})
    </insert>



</mapper>